header {
  width: 1600px;
  height: 780px;
}
.nav_container {
  display: flex;
  height: 80px;
  background-color: black;
}
.nav_container a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}
a:visited {
  color: white;
}
a:hover {
  color: orange;
}
.logo_foot {
  width: 82px;
  height: 52px;
  margin-left: 224px;
  margin-top: 18px;
}
.logo_design {
  width: 105px;
  height: 22px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}
.nav_container_link {
  margin-left: 70px;
  margin-top: 29px;
}
.nav_container_link_logo_design {
  margin-left: 438px;
  margin-top: 29px;
}
.header_container-ellipse {
  position: absolute;
  margin-top: -770px;
  margin-left: 807px;
}
.header_container-watch {
  position: absolute;
  margin-top: -700px;
  margin-left: 880px;
}
.header_container-btn {
  position: absolute;
  margin-top: -200px;
  margin-left: 988px;
}
.header_container-btn button {
  width: 298px;
  height: 54px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.5px;
  text-align: center;
  color: white;
  background-color: #f9804b;
}
button:hover {
  color: orange;
}
.main_block {
  display: flex;

  margin-top: 220px;
  margin-left: 219px;
}
.main_block-bambao-text {
  margin-left: 87px;
  width: 465px;
}
.main_block-bambao-text h2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 48px;
  line-height: 57.6px;
  margin-top: -10px;
}
.main_block-bambao-text p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
}
.main_block-bambao-text h4 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
}
.main_block-bambao-flofer {
  margin-left: 20px;
  margin-top: -130px;
}

.main_block_card {
  display: grid;
  grid-template-columns: repeat(3, 366px);
  grid-template-rows: repeat(2, 426px);
  margin-top: 120px;
  margin-left: 220px;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.main_block_card-elips-left {
  position: absolute;
  margin-top: 390px;
  margin-left: 138px;
}
.main_block_card-elips-right {
  position: absolute;
  margin-top: -480px;
  margin-left: 1398px;
}
.main_block_card_btn {
  display: grid;
  grid-template-columns: 880px 298px 368px;
}
.main_block_card_btn-palm {
  margin-top: -225px;
}
.main_block_card_btn-button {
  margin-top: 80px;
  margin-left: -225px;
}
.main_block_card_btn-button button {
  width: 298px;
  height: 54px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.5px;
  text-align: center;
  color: white;
  background-color: #f9804b;
}
button:hover {
  color: orange;
}
.main_block_card_btn-strelitzia {
  margin-top: -40px;
  margin-left: 53px;
}

.main_zone_friend {
  width: 1600px;
  height: 1004px;
  margin-top: -5px;
  background-color: #fed290;
}
.main_zone_friend-padding {
  position: absolute;
  width: 1160px;
  height: 835px;
  margin: 69px 220px 100px 220px;
  background-color: rgba(253, 253, 255, 0.52);
}
.main_zone_friend-header h2 {
  text-align: center;
  padding-top: 41px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 48px;
  line-height: 57.6px;
  color: #fe9013;
}
.main_zone_friend-header-two p {
  font-family: Roboto;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
}
.main_zone_friend-header-three p {
  font-family: Roboto;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 28.8px;
}
.main_zone_friend-header-four p {
  font-family: Roboto;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
}
.main_zone_friend-header-five h2 {
  text-align: center;
  padding-top: 41px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 48px;
  line-height: 57.6px;
}
.main_zone_friend-card-block {
  display: flex;
  margin-left: 198px;
}
.main_zone_friend-card-block-two {
  margin-left: 30px;
}
.main_zone_friend-card-block-three {
  margin-left: 30px;
}
.main_zone_friend-card-block-vector {
  width: 69px;
  height: 35px;
  margin-top: 60px;
  margin-left: 30px;
}
.main_zone_friend-btn button {
  width: 298px;
  height: 54px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.5px;
  text-align: center;
  color: white;
  background-color: #f9804b;
  margin-top: 25px;
  margin-left: 431px;
}
button:hover {
  color: orange;
}

.main_sone_testimonials h3 {
  margin-top: 140px;
  margin-left: 725px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 46.8px;
}
.main_sone_testimonials-card {
  display: flex;
  margin-left: 220px;
}
.main_sone_testimonials-card-card {
  margin-left: 30px;
}
.main_sone-scroll {
  margin-top: 20px;
  margin-left: 505px;
}
.main_sone_testimonials-btn button {
  width: 298px;
  height: 54px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.5px;
  text-align: center;
  color: white;
  background-color: #f9804b;
  margin-top: 25px;
  margin-left: 220px;
}
button:hover {
  color: orange;
}
.main_sone-leav-foto {
  margin-top: -100px;
  margin-left: 1353px;
}

.footer_block {
  width: 1600px;
  height: 443px;
  margin-top: -115px;
  background-color: black;
}
.footer_block-logo {
  position: absolute;
  margin-top: 40px;
  margin-left: 220px;
}
.footer_block-form p {
  padding-top: 40px;
  padding-left: 1015px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  color: white;
}
.footer_block-form textarea {
  width: 228px;
  height: 42px;
  margin-top: 15px;
  margin-left: 1015px;
  background-color: black;
  color: white;
  border-color: #f9804b;
}
.footer_block-form input {
  position: absolute;
  width: 129px;
  height: 42px;
  margin-top: 20px;
  margin-left: 10px;
}
.footer_block-btn button {
  width: 298px;
  height: 54px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.5px;
  text-align: center;
  color: white;
  background-color: #f9804b;
  margin-left: 220px;
}
button:hover {
  color: orange;
}
.footer_block-social-network {
  margin-top: 40px;
  margin-left: 180px;
}
.footer_block-social-network li {
  line-height: 2;
}
.footer_block-link {
  display: flex;
  margin-top: -45px;
  margin-left: 550px;
}
.foot_container_link a {
  text-decoration: none;
  margin-left: 60px;
}
.footer_block-designed {
  margin-left: 1300px;
}
