header {
  width: 1600px;
  height: 780px;
}
.nav_container {
  display: flex;
  height: 80px;
  background-color: black;
}
.nav_container a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}
a:visited {
  color: white;
}
a:hover {
  color: orange;
}
.logo_foot {
  width: 82px;
  height: 52px;
  margin-left: 224px;
  margin-top: 18px;
}
.logo_design {
  width: 105px;
  height: 22px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}
.nav_container_link {
  margin-left: 70px;
  margin-top: 29px;
}
.nav_container_link_logo_design {
  margin-left: 438px;
  margin-top: 29px;
}
.header_container-ellipse {
  position: absolute;
  margin-top: -770px;
  margin-left: 807px;
}
.header_container-watch {
  position: absolute;
  margin-top: -700px;
  margin-left: 880px;
}
.header_container-btn {
  position: absolute;
  margin-top: -200px;
  margin-left: 988px;
}
.header_container-btn button {
  width: 298px;
  height: 54px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.5px;
  text-align: center;
  color: white;
  background-color: #f9804b;
}
button:hover {
  color: orange;
}
.main_block {
  display: flex;

  margin-top: 220px;
  margin-left: 219px;
}
.main_block-bambao-text {
  margin-left: 87px;
  width: 465px;
}
.main_block-bambao-text h2 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 48px;
  line-height: 57.6px;
  margin-top: -10px;
}
.main_block-bambao-text p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
}
.main_block-bambao-text h4 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
}
.main_block-bambao-flofer {
  margin-left: 20px;
  margin-top: -130px;
}

.main_block_card {
  display: grid;
  grid-template-columns: repeat(3, 366px);
  grid-template-rows: repeat(2, 426px);
  margin-top: 120px;
  margin-left: 220px;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.main_block_card-elips-left {
  position: absolute;
  margin-top: 390px;
  margin-left: 138px;
}
.main_block_card-elips-right {
  position: absolute;
  margin-top: -480px;
  margin-left: 1398px;
}
.main_block_card_btn {
  display: grid;
  grid-template-columns: 880px 298px 368px;
}
.main_block_card_btn-palm {
  margin-top: -225px;
}
.main_block_card_btn-button {
  margin-top: 80px;
  margin-left: -225px;
}
.main_block_card_btn-button button {
  width: 298px;
  height: 54px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.5px;
  text-align: center;
  color: white;
  background-color: #f9804b;
}
button:hover {
  color: orange;
}
.main_block_card_btn-strelitzia {
  margin-top: -40px;
}
